
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@500&display=swap');
/*reset*/
* {
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}


/*FONDO*/
.imagen-fondo{
    height: 100vh;
    background-image: url(/IMAGEN/28000-sonic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
   }
/*FONDO*/

/*ESTILOS SITIOS DE NAVEGACION*/
.menu-nav {
    padding: 0%;
    width: 100%;;  
    margin: auto; 
    font-family: 'Montserrat', sans-serif;
    font-size: 150%; 
    text-align: center;
}

.menu-nav li a{
text-decoration: none;
text-decoration-style: none;
color: aliceblue;
padding: 30px;
display: block;

}
   
.menu-nav li{
    display: inline-block;
    text-align: center; 
}

.menu-nav li a:hover{
    background-color: rgba(240, 224, 52, 0.637);
    transition: 1s;
    transform: translate(0px, -4px);
}
/*ESTILOS SITIOS DE NAVEGACION*/

/*footer*/

.footer{

    display: flex;
    flex-wrap: wrap;
    background-color: #194e5c;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}


/*TAMAÑO Y UBICACION DE LOGO-NOMBRE*/

.logo-titulo{ 
display: flex;
list-style-type: none;
text-align: center;
font-size: 200%;
}


.nombrelogo{
    display: flex;
    padding: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
    justify-content: left;
    padding-bottom: 0%; 
    color: rgb(229, 229, 162);
}

.soniclogomodif{
   display: flex;
    width: 200px;
    margin: 2%;
    padding: 0%;
}

.soniclogo { 
    display:flex; 
    height: 150px;

}
/*TAMAÑO Y UBICACION DE LOGO-NOMBRE*/



/*INICIO*/
.classic{
    width: 100%;
    display: flex;
    padding-left: 8rem ;
    padding-right: 10rem;
    gap:2rem;
    /*display: block;*/
}


.title{
    font-family: 'Montserrat', sans-serif;
    color: rgb(62, 67, 197);
    font-size: 500%;
    text-align: center ;
    gap: 4rem;
    font-weight: 600;
    line-height: 1.5;
}

.who{
    font-family:  'Montserrat', sans-serif;
    font-size: 2rem ;
    font-weight: 300;
    color: rgb(251, 233, 154);
    text-align: justify;
    
}
/*INICIO*/

/*PERSONAJES*/

.personajes{
    color: rgb(212, 199, 110);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 400%;
    
} 

.character-name div{
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 242, 244);
    font-size: 110%;
    text-align: center ;
}


.personajes-distribution {
    display: flex;
    /*
    "sonic tails"
    "nucles amy"
    "shadow eggman ";
    */
    color:aliceblue;
    width: 100%;
    height: 50%;

}

.personajes-distribution div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sonic{
    grid-area: sonic;
    background-color: rgba(0, 0, 0, 0.437);
}

.tails{
    grid-area: tails;
    background-color: #194e5c61;

}

.nucles{
 grid-area: nucles;
 background-color: rgba(0, 0, 0, 0.437);

}

.amy{
    grid-area: amy;
    background-color: #194e5c61;
}

.shadow{
    grid-area: shadow;
    background-color: rgba(0, 0, 0, 0.437);
}

.eggman{
    grid-area: eggman;
    background-color: #194e5c61;
}

.descripcion{ 
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    text-align: justify;
    background-color: rgba(141, 175, 250, 0.479);
    padding: 20px;
    margin: 10px 50px 10px 50px;
    border-radius: 5px;
    width:400px;
    
}

/*PERSONAJES*/

/*VIDEOJUEGOS*/
.card{
    display: grid;
    flex: content;
    width: 400px;
    border-radius: 10px;
    padding:2rem;
    margin: 10px 50px 10px 50px;
    display: inline-block;
    text-align: center;
}

.card-img{
    width: 100%;
}

.titulo-pag{
    color: rgb(146, 233, 228);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 400%;
}

p.lettercolor{
    font-family: 'Montserrat', sans-serif;
    color: azure;
    text-align: justify;
}
/*VIDEOJUEGOS*/


/*CORTOS ANIMADOS*/
.card-video{
    display: grid;
    width: 400px;
    border-radius: 10px;
    padding: 6rem;;
    margin: 10px 50px 10px 50px;
    display: inline-block;
    text-align: center;  
}


.card-playlist{
    padding-left: 6rem;
    display: grid;
    display: inline-block;
    flex: content;
    text-align: center;
    width: 600px;
    border-radius: 10px; 
    justify-content: center;
}

.titulo-pag{
    color: rgb(146, 233, 228);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 400%;
}
/*CORTOS ANIMADOS*/

/*seccion*/

.big-cont{
    display: flex;
    margin: 10px 50px 10px 50px;
    

}
.contain{
    text-align: left;
    padding-left: 4rem ;
    

}

.title-sec{

    font-family: 'Montserrat', sans-serif; 
    color: rgb(212, 199, 110);
    font-size: 40px;
}

.text{
    font-family: 'Montserrat', sans-serif;
    color: azure;
    font-size: 2rem;
    font-weight: 300;
}

.form{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 650px;
    background:#5A96A7 ;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: azure;
}
.form-g{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.form-g label{
    width: 95%;
    color: rgb(13, 49, 73);
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.form-g input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    padding: 0 10px;
    border-color: aliceblue;
}

.form-control{
 background-color: aliceblue;
 font-family: 'Montserrat', sans-serif;
 border-radius: 10px;
}

input, textarea{
    border: 0;
    outline: none;

    width: 280px;
}
.button{
    background-color:#D1F5BE;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-radius: 10PX;
    border-color: #d1f5be;
    height: 40px;
    color: rgb(27, 80, 126);
    font-size: 20px ;
    font-weight: 200;
    outline: none;
}
@media (min-width: 992px){


}
